<%- include("layout/header") %> 
  <main>
    <h2>Relación de empleados.</h2>
    <div id="empleados-lista">
    </div>
    <script defer src="/js/datos.js"></script> 
  </main>  
<%- include("layout/footer") %> 
