<%- include("layout/header") %>
  <main>
    <section>
        <h2>Relación de empleados</h2>
         Lista de empleados generada dinámicamente por JavaScript 
        <div id="empleados-lista"></div>
    </section>
    <script defer src="/js/empleados.js"></script> 
  </main>
   
<%- include("layout/footer") %> 
