<%- include("layout/header") %>
  <main>
    <div id="app"></div>
      <figure>
        <img src="/images/oficina.jpg" alt="Interior de una oficina moderna con escritorios y sillas">
      </figure>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
      <script src="/js/script.js"></script>
  </main>
<%- include("layout/footer") %>